<header class="site-header">


  <div class="wrapper">
    <a href="/"><img src="/apoderament.svg" style="float: left; width: 12%" /></a>

    <a class="site-title" style="float: right; vertical-align:middle;" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <div class="site-subtitle" style="float: right">{{ site.subtitle | escape }}</div>
    <div style="clear:both"/>


    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
